@charset "utf-8";

@font-face {
    font-family: 'DIN 1451 Std Engschrift';
    src: url('font/din_1451_std_engschrift.eot');
    src: url('font/din_1451_std_engschrift.eot?#iefix') format('embedded-opentype'),/* ie 6,7,8 적용 embedded-opentype ie 8,9 적용 */
        url('font/din_1451_std_engschrift.svg#DIN 1451 Std Engschrift') format('svg'),/*모바일*/
        url('font/din_1451_std_engschrift.woff') format('woff'), /* ie 제외한 나머지 */
        url('font/din_1451_std_engschrift.ttf') format('truetype');
    font-weight: normal; font-style: normal;}

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600);

/*html5 reset*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong,sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header,hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font: inherit;vertical-align: baseline}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section{display: block}
html,body{-webkit-text-size-adjust:none}
body{font-family:"DIN 1451 Std Engschrift", "Source Sans Pro", "Open Sans", Arial, san-serif; line-height:1}
ol, ul, dl{list-style:none}
blockquote, q{quotes: none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content: none}
table,th,td{border-spacing:0;border-collapse:collapse}
h1, h2, h3, h4, h5, h6{font-size:1em}
input, textarea {font-size:1em}
a:link, a:visited, a:hover, a:active {color:inherit;font-size:1em;text-decoration:none}
img {margin:0;padding:0;border:0}
strong{font-weight:300}

html,body{height:100%}

.fullscreen {width:100%;height:100%;}
.fullwidth {width:100%;}

.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}




/* Loader */






/* TYPOGRAPHY */
h1  {font-size:2.5em;color:#333;letter-spacing:0.1em;line-height:1.1em;}
h2  {font-size:2.2em;color:#333;letter-spacing:0.1em;line-height:1.25em;}
h3  {font-size:1.8em;color:#333;letter-spacing:0.1em;line-height:1.2em;}
p   {font-size:0.8em;color:#555;letter-spacing:0.03em;line-height:1.5em;
     font-family:"Roboto condensed", "Open Sans", sans-serif; font-weight:300;}

p.line{line-height:1.6em;}

p.kop{font-size:1.0em;color:#333;letter-spacing:0.05em;line-height:1.6em;
     font-family:"Open Sans", sans-serif; font-weight:300;}

strong{font-weight:600;}

.menutitle {
        font-size:2.5em;color:#333;letter-spacing:0.1em;
        width:86%; margin:160px auto 16px auto;
        }

hr {border:0;height:5px;}




#frameborder-top {position:fixed;top:12px;left:12px;right:12px;height:10px;background-color:#333;z-index:99;}
#frameborder-right {position:fixed;top:12px;right:12px;bottom:12px;width:10px;background-color:#333;z-index:99;}
#frameborder-bottom {position:fixed;bottom:12px;left:12px;right:12px;height:10px;background-color:#333;z-index:99;}
#frameborder-left {position:fixed;top:12px;left:12px;bottom:12px;width:10px;background-color:#333;z-index:99;}




/* LOGO */
.toplogo {
    position:absolute;
    left:50%;
    top:50%;
    width:272px;
    margin:-186px 0 0 -136px;
    z-index:0;
    }

.basiclogo {
    position:fixed;
    left:7%;;
    top:42px;
    z-index:9;
    width:40px;
	opacity:0;
    }
    .basiclogo img{width:100%;}



/* NAVIGATION */
nav {position:fixed;
color:#333;
font-size:1.2em;
letter-spacing:0.1em;
top:50px;
left:0;
right:0;
z-index:100;
}

    nav ul {position:relative;}

        nav ul.menu{}
                ul.menu > li {position:absolute;}
                        .menu li.aboutmenu {left:13%;}
                        .menu li.workmenu {left:19%;}

                             li.aboutmenu .aboutbar{
                                    position:absolute;
                                    display:block;
                                    top:1px;
                                    left:0px;
                                    width:0px;
                                    height:10px;
                                    background-color:#333;
                                    z-index:101;
                                    transition:all 0.3s ease;}

                            li.workmenu .workbar{
                                    position:absolute;
                                    display:block;
                                    top:1px;
                                    left:0px;
                                    width:0px;
                                    height:10px;
                                    background-color:#333;
                                    z-index:101;
                                    transition:all 0.5s linear;}






        nav ul.category {
            height:40px;
            margin-bottom:10px;
            margin-top:-7px;
            padding-top:20px;
            overflow:hidden;
            }
                .category li{
                    transform:translate(0, -300%);
                    float:left;
                    margin-right:20px;
                    transition:0.5s all ease;}
                        .category li.all {}
                        .category li.graphicdesign {-webkit-transition-delay: 0.1s;
                                                    transition-delay: 0.1s;}
                        .category li.servicedesign {-webkit-transition-delay: 0.2s;
                                                    transition-delay: 0.2s;}
                        .category li.branding {-webkit-transition-delay:0.3s;
                                                transition-delay:0.3s;}
                        .category li.illustration {-webkit-transition-delay: 0.4s;
                                                    transition-delay: 0.4s;}

                        nav ul.menu li.workmenu:hover ul.category li{transform:translate(0,0)}
                        nav ul.menu li.workmenu:hover .workbar{width:590px;}
                        nav ul.menu li.aboutmenu:hover .aboutbar{width:90px;}


/* ABOUT */
#about {
    width:86%;
    height:62%;
    max-height:70%;
    margin:auto;
    }

    #about ul li{
        float:left;
        width:32.4%;
        margin-right:1.4%;
        margin-bottom:3.6%;
        max-height: 100%;
        overflow: hidden;
        }

    #about ul li.aboutwrapA {height:100%;}

    #about ul li.aboutwrapB {height:100%;}

    #about ul li.aboutwrapC {height:100%;}

    #about ul li:nth-child(3n) {
        margin-right: 0;
        }

    #about ul li img{margin-bottom:2px;}



        #about ul li div.iam{height:29.4%;padding:5% 5% 4% 5%;margin-bottom:3.6%;overflow:hidden;
                        border:10px solid #333;
                        -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
                        -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
                        box-sizing:        border-box;   /* Everything else */}

        #about ul li div.interests{width:100%;height:67%;padding:5% 5% 4% 5%;margin-bottom:3.6%;
                        border:10px solid #333;
                        -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
                        -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
                        box-sizing:        border-box;   /* Everything else */}

        #about ul li div.whatido{width:100%;height:67%;padding:5% 5% 4% 5%;margin-bottom:3.6%;
                        border:10px solid #333;
                        -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
                        -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
                        box-sizing:        border-box;   /* Everything else */}
                .wrap{width:100%;display: flex;}
                .domain{width:50%;flex:1;margin-bottom:15px;}

        #about ul li div.ilearned{width:100%;height:29.4%;padding:5% 5% 4% 5%;margin-bottom:3.6%;
                        border:10px solid #333;
                        -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
                        -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
                        box-sizing:        border-box;   /* Everything else */}

        #about ul li div.iworked{width:100%;height:48.2%;padding:5% 5% 4% 5%;
                        border:10px solid #333;
                        -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
                        -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
                        box-sizing:        border-box;   /* Everything else */}



/* WORK */
.wrap {}

.workmenutitle{font-size:2.5em;color:#333;letter-spacing:0.1em;margin-bottom:16px;
        width:100%;}

.work {
    width:86%;
    margin:0 auto 200px auto;
    }

    .work ul {width:100%;margin:0;}

    .work ul li{
        float:left;
        position:relative;
        width:32.4%;
        margin-right: 1.4%;
        margin-bottom:1.4%;
        overflow:hidden;
		cursor:pointer
        }

.work .info > div{
	position:fixed;
	top:50px;
	display:none;
	width:100%;
	text-align:center

}
    .work ul li:nth-child(3n) {
        margin-right: 0;
        }

    .work ul li .thumbnail{
        position:absolute;
        left:0;
        width:100%;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        }
            .thumbnail img{width:100%;}

    .work ul li img{width:100%;}


    .work ul li .worktitle{
            position:absolute;
            top:8%;left:-100%;
            color:#333;
            font-size:2.0em;
            letter-spacing: 2pt;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            z-index:9;
            }

        .work ul li .worktitle-white{
            position:absolute;
            top:8%;left:-100%;
            color:white;
            font-size:2.0em;
            letter-spacing: 2pt;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            z-index:9;
            }

        .work ul li .underline{
            position:absolute;
            top:16%;left:-150%;
            height:10px;
            background-color:#333;
            transition: all 0.5s;
            -webkit-transition: all 0.6s;
            z-index:9;
            }

        .work ul li .underline-white{
            position:absolute;
            top:16%;left:-150%;
            height:10px;
            background-color:white;
            transition: all 0.5s;
            -webkit-transition: all 0.6s;
            z-index:9;
            }

        .work ul li .subtitle{
            position:absolute;
            top:24%;left:-200%;
            font-size:1.2em;
            letter-spacing:1px;
            line-height:1.3em;
            color:#333;
            transition: all 0.7s;
            -webkit-transition: all 0.7s;
            z-index:9;
            }

        .work ul li .subtitle-white{
            position:absolute;
            top:24%;left:-200%;
            font-size:1.2em;
            letter-spacing:1px;
            line-height:1.3em;
            color:white;
            transition: all 0.7s;
            -webkit-transition: all 0.7s;
            z-index:9;
            }


    .work ul li:hover .thumbnail{left:65%}
    .work ul li:hover .worktitle-white{left:8%}
    .work ul li:hover .underline-white{left:8%}
    .work ul li:hover .subtitle-white{left:8%}
    .work ul li:hover .worktitle{left:8%}
    .work ul li:hover .underline{left:8%}
    .work ul li:hover .subtitle{left:8%}




    .title{
        border:10px solid #333;
        -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
        -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
        box-sizing:        border-box;   /* Everything else */
        }

    .title img {width:100%;}



/* SLIDER */
#slider {
	width:100%;
	height:100%;
	margin:0;
    z-index:1;
    overflow:hidden;
}

#slider ul {
	position:relative;
    width:100%;
	height:100%;
}

#slider li {
    position:absolute;
	list-style:none;
}

#slider li.slideone {
    top:50%; margin-top:-400px;
	-moz-animation:cycle 20s ease infinite;
	-webkit-animation:cycle 20s ease infinite;
    animation:cycle 20s ease infinite;
}

#slider li.slidetwo {
    top:50%; margin-top:-400px;
	-moz-animation:cycletwo 20s ease infinite;
	-webkit-animation:cycletwo 20s ease infinite;
    animation:cycletwo 20s ease infinite;
}

#slider li.slidethree {
    top:50%; margin-top:-400px;
	-moz-animation:cyclethree 20s ease infinite;
	-webkit-animation:cyclethree 20s ease infinite;
    animation:cyclethree 20s ease infinite;
}

#slider li.slidefour {
    top:50%; margin-top:-400px;
	-moz-animation:cyclefour 20s ease infinite;
	-webkit-animation:cyclefour 20s ease infinite;
    animation:cyclefour 20s ease infinite;
}

/* SLIDE CYCLE */
@keyframes cycle {
	0%  {left:150%;}
	4%  {left:50%; margin-left:-484px;}
	16% {left:50%; margin-left:-484px;}
	20% {left:-100%;}
	100%{left:-100%;}
}


@-webkit-keyframes cycle {
	0%  {left:150%;}
	4%  {left:50%; margin-left:-484px;}
	16% {left:50%; margin-left:-484px;}
	20% {left:-100%;}
	100%{left:-100%;}
}

@keyframes cycletwo {
	0%  {left:150%;}
	16% {left:150%;}
    20% {left:50%; margin-left:-484px;}
    32% {left:50%; margin-left:-484px;}
    36% {left:-100%;}
	100%{left:-100%;}
}

@-webkit-keyframes cycletwo {
	0%  {left:150%;}
	16% {left:150%;}
    20% {left:50%; margin-left:-484px;}
    32% {left:50%; margin-left:-484px;}
    36% {left:-100%;}
	100%{left:-100%;}
}

@keyframes cyclethree {
	0%  {left:150%;}
	32% {left:150%;}
    36% {left:50%; margin-left:-484px;}
    48% {left:50%; margin-left:-484px;}
    52% {left:-100%;}
	100%{left:-100%;}
}

@-webkit-keyframes cyclethree {
	0%  {left:150%;}
	32% {left:150%;}
    36% {left:50%; margin-left:-484px;}
    48% {left:50%; margin-left:-484px;}
    52% {left:-100%;}
	100%{left:-100%;}
}


@keyframes cyclefour {
	0%  {left:150%;}
	48% {left:150%;}
    52% {left:50%; margin-left:-484px;}
    64% {left:50%; margin-left:-484px;}
    68% {left:-100%;}
	100%{left:-100%;}
}

@-webkit-keyframes cyclefour {
	0%  {left:150%;}
	48% {left:150%;}
    52% {left:50%; margin-left:-484px;}
    64% {left:50%; margin-left:-484px;}
    68% {left:-100%;}
	100%{left:-100%;}
}







/* 반응형-스마트폰 */
    @media (max-width:500px) {

        #frameborder-top {position:fixed;top:8px;left:8px;right:8px;height:6px;background-color:#333;z-index:99;}
        #frameborder-right {position:fixed;top:8px;right:8px;bottom:8px;width:6px;background-color:#333;z-index:99;}
        #frameborder-bottom {position:fixed;bottom:8px;left:8px;right:8px;height:6px;background-color:#333;z-index:99;}
        #frameborder-left {position:fixed;top:8px;left:8px;bottom:8px;width:6px;background-color:#333;z-index:99;}


    .fullscreen {width:100%;}
    .mobilehide {display:none;}


        nav {position:fixed;
            color:#333;
            font-size:1em;
            letter-spacing:0.1em;
            top:30px;}

        nav ul.menu{}
            .menu li {position:absolute;}
                    .menu li.aboutmenu {left:120px;}
                    .menu li.workmenu {left:180px;}

            nav ul.workmenu {
                position:absolute;
                left:180px;
                top:30px;
                margin-bottom:15px;}

                nav ul.workmenu li {display:block; margin-bottom:20px;}


                           li.aboutmenu .aboutbar{
                                    top:2px;
                                    height:6px;}

                            li.workmenu .workbar{
                                    top:2px;
                                    height:6px;
                                    background-color:#333;
                                    z-index:101;
                                    transition:all 0.3s linear;}


                        nav ul.menu li.workmenu:hover ul.category li{transform:translate(0,0)}
                        nav ul.menu li.workmenu:hover .workbar{width:60px;}
                        nav ul.menu li.aboutmenu:hover .aboutbar{width:58px;}

            nav ul.category {
            width:200px;
            height:400px;
            margin-bottom:10px;
            margin-top:-7px;
            padding-top:20px;
            overflow:hidden;
            }

            .category li{
                transform:translate(0, -800px);
                font-size:1em;
                margin-right:100px;margin-bottom:5px;}


        .title{
        border:6px solid #333;
        -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
        -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
        box-sizing:        border-box;   /* Everything else */
        }

    .basiclogo {
        position:fixed;
        left:10%;
        top:30px;
        z-index:9;
        width:38px;
        }
        .basiclogo img{width:100%;}


    .work {
    width:100%;
    margin:100px auto;
    }

       .work ul li{
        float:left;
        width:80%;
        margin:0 10% 12px 10%;
        }

        .work ul li img {width:100%;}

        .work ul li .underline{
            top:18%;
            height:6px;
            }

        .work ul li .underline-white{
            top:18%;
            height:6px;
            }



    /* 스마트폰 - 어바웃 */

   #about {
        width:80%;
        margin:0 auto;
        }

        #about ul li{
        float:left;
        width:100%;
        margin-right:12px;
        }

        #about ul li h3{font-size:1.2em;line-height:1.2em;}

        #about ul li img{height:40px; margin:0 0 12px 0;}

                #about ul li div.whatido{border:6px solid #333;}
                #about ul li div.iam{border:6px solid #333;}
                #about ul li div.touch{border:6px solid #333;}


    /*
    #about {
        width:100%;
        margin:100px auto;
        }

        #about ul li{
            float:left;
            width:80%;
            margin:0 10% 30px 10%;
            text-align: center;
            }

        #about ul li h3{font-size:1.3em;}

            #about ul li img {height:80px;width:auto;margin:0 auto;}*/


    /* 스마트폰 - 슬라이더 */
    #slider {
        width:100%;
        height:100%;
        margin:0;
        z-index:10;
        overflow:hidden;
        }

            #slider ul {
                position:relative;
                width:100%;
                height:100%;
                }

            #slider li {
                position:absolute;
                list-style:none;
                width:300px;
                }

                #slider li img {width:100%;}

                #slider li.slideone {
                    top:50%; margin-top:-124px;
                    -moz-animation:cycle 20s ease infinite;
                    -webkit-animation:cycle 20s ease infinite;
                    animation:cycle 20s ease infinite;
                }

                #slider li.slidetwo {
                    top:50%; margin-top:-124px;
                    -moz-animation:cycletwo 20s ease infinite;
                    -webkit-animation:cycletwo 20s ease infinite;
                    animation:cycletwo 20s ease infinite;
                }

                #slider li.slidethree {
                    top:50%; margin-top:-124px;
                    -moz-animation:cyclethree 20s ease infinite;
                    -webkit-animation:cyclethree 20s ease infinite;
                    animation:cyclethree 20s ease infinite;
                }

                #slider li.slidefour {
                    top:50%; margin-top:-124px;
                    -moz-animation:cyclefour 20s ease infinite;
                    -webkit-animation:cyclefour 20s ease infinite;
                    animation:cyclefour 20s ease infinite;
                }


                @keyframes cycle {
                    0%  {left:150%;}
                    4%  {left:50%; margin-left:-150px;}
                    16% {left:50%; margin-left:-150px;}
                    20% {left:-100%;}
                    100%{left:-100%;}
                }


                @-webkit-keyframes cycle {
                    0%  {left:150%;}
                    4%  {left:50%; margin-left:-150px;}
                    16% {left:50%; margin-left:-150px;}
                    20% {left:-100%;}
                    100%{left:-100%;}
                }

                @keyframes cycletwo {
                    0%  {left:150%;}
                    16% {left:150%;}
                    20% {left:50%; margin-left:-150px;}
                    32% {left:50%; margin-left:-150px;}
                    36% {left:-100%;}
                    100%{left:-100%;}
                }

                @-webkit-keyframes cycletwo {
                    0%  {left:150%;}
                    16% {left:150%;}
                    20% {left:50%; margin-left:-150px;}
                    32% {left:50%; margin-left:-150px;}
                    36% {left:-100%;}
                    100%{left:-100%;}
                }

                @keyframes cyclethree {
                    0%  {left:150%;}
                    32% {left:150%;}
                    36% {left:50%; margin-left:-150px;}
                    48% {left:50%; margin-left:-150px;}
                    52% {left:-100%;}
                    100%{left:-100%;}
                }

                @-webkit-keyframes cyclethree {
                    0%  {left:150%;}
                    32% {left:150%;}
                    36% {left:50%; margin-left:-150px;}
                    48% {left:50%; margin-left:-150px;}
                    52% {left:-100%;}
                    100%{left:-100%;}
                }


                @keyframes cyclefour {
                    0%  {left:150%;}
                    48% {left:150%;}
                    52% {left:50%; margin-left:-150px;}
                    64% {left:50%; margin-left:-150px;}
                    68% {left:-100%;}
                    100%{left:-100%;}
                }

                @-webkit-keyframes cyclefour {
                    0%  {left:150%;}
                    48% {left:150%;}
                    52% {left:50%; margin-left:-150px;}
                    64% {left:50%; margin-left:-150px;}
                    68% {left:-100%;}
                    100%{left:-100%;}
                }


        .toplogo {
            position:absolute;
            left:50%;
            top:50%;
            width:50%;
            margin:-123px 0 0 -90px;
            z-index:0;
            }

            .toplogo img{width:180px;}


}


/* 태블릿PC */
@media (min-width: 501px) and (max-width: 959px) {



            nav ul.menu{}
                ul.menu > li {position:absolute;font-size:0.9em;}
                        .menu li.aboutmenu {left:16%;}
                        .menu li.workmenu {left:27%;}

                             li.aboutmenu .aboutbar{
                                    position:absolute;
                                    display:block;
                                    top:1px;
                                    left:0px;
                                    width:0px;
                                    height:10px;
                                    background-color:#333;
                                    z-index:101;
                                    transition:all 0.3s ease;}

                            li.workmenu .workbar{
                                    position:absolute;
                                    display:block;
                                    top:1px;
                                    left:0px;
                                    width:0px;
                                    height:10px;
                                    background-color:#333;
                                    z-index:101;
                                    transition:all 0.5s linear;}


        .workmenu li{
            display: block;
            margin-right:0px;
            margin-bottom:20px;}

    .basiclogo {
    position:fixed;
    left:7%;
    top:42px;
    z-index:9;
    width:38px;
    }
        .basiclogo img{width:100%;}


    nav ul.category {
            height:80px;
            margin-bottom:10px;
            margin-top:-7px;
            padding-top:20px;
            overflow:hidden;
            }

    .category li{transform:translate(0, -400%);font-size:0.8em;margin-right:20px;margin-bottom:5px;}


    .work ul li{
        float:left;
        width:49%;
        margin-right:2%;
        margin-bottom:2%;
        }
        .work ul li:nth-child(3n) {
            margin-right:2%;
            }
        .work ul li:nth-child(2n) {
            margin-right:0;
            }

    #about ul li{
        float:left;
        width:49%;
        margin-right:2%;
        margin-bottom:50px;
    }
        #about ul li:nth-child(3n) {
            margin-right:2%;
            }
        #about ul li:nth-child(2n) {
            margin-right:0;
            }
        #about ul li h3{font-size:1.6em;line-height:1.2em;}

        #about ul li img{margin-bottom:2px;}

    }

