/*html5 reset*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong,sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header,hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font: inherit;vertical-align: baseline}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section{display: block}
html,body{-webkit-text-size-adjust:none}
body{font:400 12px "Oswald", Arial, san-serif;line-height:1}
ol, ul, dl{list-style:none}
blockquote, q{quotes: none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content: none}
table,th,td{border-spacing:0;border-collapse:collapse}
h1, h2, h3, h4, h5, h6{font-size:1em}
input, textarea {font-size:1em}
a:link, a:visited, a:hover, a:active {color:inherit;font-size:1em;text-decoration:none}
img {margin:0;padding:0;border:0}
strong{font-weight:300}

html,body{height:100%}

.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}

#frameborder {
    position:fixed;
    top:12px;
    left:12px;
    right:12px;
    bottom:12px;
    border:10px;
    border-color:#333;
    border-style:solid;
    z-index:100;
}

.toplogo {
    position:absolute;
    left:50%;
    top:50%;
    width:272px;
    margin:-186px 0 0 -136px;
    z-index:0;
}


nav {position:fixed;
color:#333;
font-size:1.2em;
letter-spacing:0.1em;
top:50px;
width:90%;
left:0;
right:0;
z-index:100;
}

    nav ul {position:relative;}
        nav ul.menu{}
        .menu li {position:relative;
                display: inline;
                list-style:none;}
                .menu li.work {left:20%;}
                .menu li.about {left:100%; margin-left:-150px;}
                .menu li.contact {left:100%; margin-left:40px;}
        nav ul.workmenu {
            position:absolute;
            left:20%;
            top:30px;}
            .workmenu li{
                display: inline;
                list-style:none;
                margin-right:20px;}
                .workmenu li.all {}
                .workmenu li.graphicdesign {}
                .workmenu li.servicedesign {}
                .workmenu li.branding {}
                .workmenu li.illustration {}



.bgimg {
    position: absolute;
    z-index:2;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-animation:imageSlide 16s ease infinite;
    animation:disolve 10s ease infinite;}


.page {
    width:100%;
    height:100%}


.work {
    width:86%;
    margin:100px auto;
    }

    .work ul li{
        float:left;
        width:32.4%;
        margin-right: 1.4%;
        margin-bottom:1.4%;
        }

    .work ul li:nth-child(3n) {
        margin-right: 0;
        }

    .work ul li img{width:100%;}

    .title{
        border:10px solid #333;
        font-size:2em;
        height:;
        -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
        -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
        box-sizing:        border-box;   /* Everything else */
        }

    .title img {width:100%;}



/* Slider */
#slider {
	width:100%;
	height:100%;
	margin:0;
    z-index:10;
    overflow:hidden;
}

#slider ul {
	position:relative;
    width:100%;
	height:100%;
}

#slider li {
    position:absolute;
	list-style:none;
}

#slider li.slideone,.slidetwo,.slidethree,.slidefour {
    top:50%; margin-top:-400px;
	-moz-animation:cycle 20s ease infinite;
	-webkit-animation:cycle 20s ease infinite;
    animation:cycle 20s ease infinite;
}

#slider li.slidetwo {
    top:50%; margin-top:-400px;
	-moz-animation:cycletwo 20s ease infinite;
	-webkit-animation:cycletwo 20s ease infinite;
    animation:cycletwo 20s ease infinite;
}

#slider li.slidethree {
    top:50%; margin-top:-400px;
	-moz-animation:cyclethree 20s ease infinite;
	-webkit-animation:cyclethree 20s ease infinite;
    animation:cyclethree 20s ease infinite;
}

#slider li.slidefour {
    top:50%; margin-top:-400px;
	-moz-animation:cyclefour 20s ease infinite;
	-webkit-animation:cyclefour 20s ease infinite;
    animation:cyclefour 20s ease infinite;
}


@keyframes cycle {
	0%  {left:150%;}
	4%  {left:50%; margin-left:-484px;}
	16% {left:50%; margin-left:-484px;}
	20% {left:-100%;}
	100%{left:-100%;}
}


@-webkit-keyframes cycle {
	0%  {left:150%;}
	4%  {left:50%; margin-left:-484px;}
	16% {left:50%; margin-left:-484px;}
	20% {left:-100%;}
	100%{left:-100%;}
}

@keyframes cycletwo {
	0%  {left:150%;}
	16% {left:150%;}
    20% {left:50%; margin-left:-484px;}
    32% {left:50%; margin-left:-484px;}
    36% {left:-100%;}
	100%{left:-100%;}
}

@-webkit-keyframes cycletwo {
	0%  {left:150%;}
	16% {left:150%;}
    20% {left:50%; margin-left:-484px;}
    32% {left:50%; margin-left:-484px;}
    36% {left:-100%;}
	100%{left:-100%;}
}

@keyframes cyclethree {
	0%  {left:150%;}
	32% {left:150%;}
    36% {left:50%; margin-left:-484px;}
    48% {left:50%; margin-left:-484px;}
    52% {left:-100%;}
	100%{left:-100%;}
}

@-webkit-keyframes cyclethree {
	0%  {left:150%;}
	32% {left:150%;}
    36% {left:50%; margin-left:-484px;}
    48% {left:50%; margin-left:-484px;}
    52% {left:-100%;}
	100%{left:-100%;}
}


@keyframes cyclefour {
	0%  {left:150%;}
	48% {left:150%;}
    52% {left:50%; margin-left:-484px;}
    64% {left:50%; margin-left:-484px;}
    68% {left:-100%;}
	100%{left:-100%;}
}

@-webkit-keyframes cyclefour {
	0%  {left:150%;}
	48% {left:150%;}
    52% {left:50%; margin-left:-484px;}
    64% {left:50%; margin-left:-484px;}
    68% {left:-100%;}
	100%{left:-100%;}
}







/* 반응형 */
@media (max-width:700px) {
    .work {
    width:80%;
    margin:100px auto;
    }
       .work ul li{
        float:left;
        width:100%;
        margin-bottom:12px;
        }


    #slider {
        width:100%;
        height:100%;
        margin:0;
        z-index:10;
        }

        #slider ul {
            position:relative;
            width:100%;
            height:100%;
            }

        #slider li {
            position:absolute;
            list-style:none;
            width:80%;
            }

            #slider li img {width:100%;}


    .toplogo {
        position:absolute;
        left:50%;
        top:50%;
        width:50%;
        margin:-123px 0 0 -90px;
        z-index:0;
        }

        .toplogo img{width:180px;}
}




@media (min-width:2000px) {
   #frameborder {
        position:fixed;
        top:14px;
        left:14px;
        right:14px;
        bottom:14px;
        border:12px;
        border-color:#333;
        border-style:solid;
        z-index:100;
        }

    .title{
        border:14px solid #333;
        font-size:2em;
        height:;
        -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
        -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
        box-sizing:        border-box;   /* Everything else */
        }

}
